.container {
    display: flex;
    padding: 20px;
    margin-left: 20px;
    
  }

  .card-text {
    display: flex;
    color: white;
    margin-left: -130px;
    font-size: 30px;
    margin-top: -15px;
}

  @media screen and (max-width: 768px) {
    .container {
      display: grid;
      justify-content: space-around;

    }
  }